Tutorial1/db
Tutorial1/greybox_tmp
Tutorial1/incremental_db
Tutorial1/OUTPUT
Tutorial2/db
Tutorial2/greybox_tmp
Tutorial2/incremental_db
Tutorial2/OUTPUT
scaler
hps_isw_handoff
vip
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*.cdf
