Tools/TABLEGEN/BIN
Tools/TABLEGEN/INTERMEDIATE
Tools/TABLEGEN/.vs
Tools/RAMFILEGEN/x64
Tools/RAMFILEGEN/.vs
Tools/RAMFILEGEN/sram.vmem
Tutorial1/db
Tutorial1/greybox_tmp
Tutorial1/incremental_db
Tutorial1/OUTPUT
Tutorial2/db
Tutorial2/greybox_tmp
Tutorial2/incremental_db
Tutorial2/OUTPUT
Tutorial3/db
Tutorial3/greybox_tmp
Tutorial3/incremental_db
Tutorial3/OUTPUT
Tutorial3/ROM/ROM1/GERANIUM.bin
Tutorial3/ROM/ROM1/GERANIUM.elf
Tutorial3/ROM/ROM1/GERANIUM.hex
Tutorial3/ROM/ROM1/GERANIUM.map
Tutorial3/ROM/ROM1/GERANIUM.ROM
Tutorial3/ROM/ROM1/GERANIUM.v
Tutorial3/ROM/ROM1/x64
Tutorial3/ROM/ROM1/.vs
Tutorial3/SIMULATION/SYSTEM_TB/work
Tutorial4/db
Tutorial4/greybox_tmp
Tutorial4/incremental_db
Tutorial4/OUTPUT
Tutorial4/VIDEO/FONT/.vs
Tutorial4/VIDEO/FONT/x64
Tutorial4/VIDEO/FONT/fontbuild
Tutorial4/ROM/ROM1/GERANIUM.bin
Tutorial4/ROM/ROM1/GERANIUM.elf
Tutorial4/ROM/ROM1/GERANIUM.hex
Tutorial4/ROM/ROM1/GERANIUM.map
Tutorial4/ROM/ROM1/GERANIUM.ROM
Tutorial4/ROM/ROM1/GERANIUM.v
Tutorial4/ROM/ROM1/x64
Tutorial4/ROM/ROM1/.vs
Tutorial4/SIMULATION/SYSTEM_TB/work
Tutorial5/db
Tutorial5/greybox_tmp
Tutorial5/incremental_db
Tutorial5/OUTPUT
Tutorial5/VIDEO/FONT/.vs
Tutorial5/VIDEO/FONT/x64
Tutorial5/VIDEO/FONT/fontbuild
Tutorial5/ROM/ROM1/GERANIUM.bin
Tutorial5/ROM/ROM1/GERANIUM.elf
Tutorial5/ROM/ROM1/GERANIUM.hex
Tutorial5/ROM/ROM1/GERANIUM.map
Tutorial5/ROM/ROM1/GERANIUM.ROM
Tutorial5/ROM/ROM1/GERANIUM.v
Tutorial5/ROM/ROM1/x64
Tutorial5/ROM/ROM1/.vs
Tutorial5/SIMULATION/SYSTEM_TB/work
Tutorial6/db
Tutorial6/greybox_tmp
Tutorial6/incremental_db
Tutorial6/OUTPUT
Tutorial6/VIDEO/FONT/.vs
Tutorial6/VIDEO/FONT/x64
Tutorial6/VIDEO/FONT/fontbuild
Tutorial6/ROM/ROM1/GERANIUM.bin
Tutorial6/ROM/ROM1/GERANIUM.elf
Tutorial6/ROM/ROM1/GERANIUM.hex
Tutorial6/ROM/ROM1/GERANIUM.map
Tutorial6/ROM/ROM1/GERANIUM.ROM
Tutorial6/ROM/ROM1/GERANIUM.v
Tutorial6/ROM/ROM1/x64
Tutorial6/ROM/ROM1/.vs
Tutorial6/SIMULATION/SYSTEM_TB/work
Tutorial6/SIMULATION/SYSTEM_TB/sram.vmem
Tutorial6/SIMULATION/SYSTEM_TB/ROM/.vs
Tutorial6/SIMULATION/SYSTEM_TB/ROM/x64
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.BIN
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.elf
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.ROM
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.hex
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.map
Tutorial6/SIMULATION/SYSTEM_TB/ROM/GERANIUM.v
scaler
hps_isw_handoff
vip
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*.cdf
