Tools/TABLEGEN/BIN
Tools/TABLEGEN/INTERMEDIATE
Tools/TABLEGEN/.vs
Tools/RAMFILEGEN/x64
Tools/RAMFILEGEN/.vs
Tools/RAMFILEGEN/sram.vmem
Tutorial1/db
Tutorial1/greybox_tmp
Tutorial1/incremental_db
Tutorial1/OUTPUT
Tutorial2/db
Tutorial2/greybox_tmp
Tutorial2/incremental_db
Tutorial2/OUTPUT
Tutorial3/db
Tutorial3/greybox_tmp
Tutorial3/incremental_db
Tutorial3/OUTPUT
Tutorial3/ROM/ROM1/GERANIUM.bin
Tutorial3/ROM/ROM1/GERANIUM.elf
Tutorial3/ROM/ROM1/GERANIUM.hex
Tutorial3/ROM/ROM1/GERANIUM.map
Tutorial3/ROM/ROM1/GERANIUM.ROM
Tutorial3/ROM/ROM1/GERANIUM.v
Tutorial3/ROM/ROM1/x64
Tutorial3/ROM/ROM1/.vs
Tutorial3/SIMULATION/SYSTEM_TB/work
scaler
hps_isw_handoff
vip
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*.cdf
